.searchBar {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 0 24px;
    min-width: 300px;
    height: 55px;
    
    border-radius: 999px;
    border: 3px solid $color-border-search;

    background: $color-surface-muted;
}

.searchInput {
    border: none;
    outline: none;
    background: transparent;

    font-family: $font-primary;
    font-size: 20px;
    font-weight: 400;
    flex: 1;
    color: $color-text;
}

.searchIcon {
    width: 32px;
    height: 32px;
}