.messageCatalog {
  display: flex;
  flex-direction: column;

  min-width: 400px;

  max-height: 540px;
  overflow-y: auto;

  scrollbar-width: thin;
}

.messageCatalog::-webkit-scrollbar {
  width: 8px;
}