.header {
width: 100%;
padding: 40px 40px;
display: flex;
justify-content: space-between;
align-items: center;
box-sizing: border-box;
}

.nav {
    margin-left: auto;
    display: flex;
    gap: 12px;
    align-items: center;
}