.chipsContainer {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.chip {
    border: 1px solid $color-primary-dark;
    border-radius: 999px;
    background-color: $color-chip-bg;
    color: $color-primary-dark;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 8px;
}

.selectedChip {
  border: 1px solid $color-success;
  background-color: $color-success-bg;
  color: #2f3559;
  padding: 10px 18px;
  border-radius: 999px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: 0.2s ease;
}

.close {
  font-size: 18px;
  line-height: 1;
}
