.productCard {
  display: flex;
  gap: 12px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #9FA4D1;
  width: 400px;
  height: 160px;
  flex-shrink: 0;
}

.productImage {
  width: 120px;
  height: 160px;
  border-radius: 8px;
  background: $color-surface-alt;
  flex-shrink: 0;
}

.productContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.productCardContentTop {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.productCardContentTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
  color: $color-primary;
}

.productCardContentSubject {
  font-size: 12px;
  color: $color-text-muted;
}

.productCardContentBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.meta {
  display: flex;
  flex-direction: column;
}

.productPrice {
  font-weight: 600;
  color: $color-primary;
}

.postedTime {
  font-size: 12px;
  color: $color-text-light;
}

.productEnquiryButton {
  padding: 6px 12px;
  border-radius: 16px;
  background: $color-brand-light;
  color: $color-primary;
  cursor: pointer;
  border: none;
}

.myAdsButtonContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.productDeleteButton {
  width: 32px;
  height: 32px;
  border-radius: 999px;
  border: none;
  cursor: pointer;

  background-color: $color-danger-bg;
}

.deleteIcon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.productViewButton {
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 14px;

  padding: 10px 16px;

  background-color: $color-border;
  color: $color-text;
}